{% extends 'flatpages/default.html' %}
{% load static %}
{% load custom_filter %}


{% block header %}
    {% if detail.post_type == 'PO' %}
        <h1>News post #{{ detail.id }} </h1>
    {% else %}
        <h1>Article #{{ detail.id }} </h1>
    {% endif %}
{% endblock %}

{%block ar_title%}
    <hr class="my-4"/>
    <h4>{{ detail.header }}</h4>
    <p>{{ detail.content|censor }}</p>
    <p style="font-style: italic; font-size: small;">posted by {{ detail.author }} on {{ detail.time_in }}</p>
    <hr class="my-4"/>
    {% if detail.post_type == 'PO' %}
        <button onclick="location.href='{% url 'news:edit-post' detail.id %}'" type="button" class="btn btn-primary">Edit Post</button>
        <button onclick="location.href='{% url 'news:delete-post' detail.id %}'" type="button" class="btn btn-primary">Delete Post</button>
    {% else %}
        <button onclick="location.href='{% url 'news:edit-article' detail.id %}'" type="button" class="btn btn-primary">Edit Post</button>
        <button onclick="location.href='{% url 'news:delete-article' detail.id %}'" type="button" class="btn btn-primary">Delete Post</button>
    {% endif %}
{% endblock %}
