{% extends 'flatpages/default.html' %}
{% load custom_filter %}
{% load custom_tags %}

{% block header %}
    <h1 style="font-size: 85px; font-family:">
        MUSIC SCOPE
    </h1>
{% endblock %}

{%block ar_title %}
    <h4 style="font-size: 40px; font-style: italic;">
        <u>
           <a href=" {% url 'news:news' %} ">Articles</a>  
        </u>
    </h4>
    <form action="" method="get">
        {{ categoryfilter.form.as_p }}
        <input type="submit" value="Search" class="btn btn-primary"/>
        {% if category_name %}
            {% if is_not_subscribed %}
                <button class="btn btn-primary"><a href="{% url 'news:subscribe' category_id %}">Subscribe to {{ category_name }}</a></button> 
            {% endif %}
            {% if not is_not_subscribed %}
                You are subscribed to "{{ category_name }}" category 
            {% endif %}
        {% endif %}
    </form>
    </br>
    {% if news %}
        {% for n in news %}
            <hr class="my-4"/>
            <h4><a href="{% url 'news:detail' n.id %}">{{ n.header }}</a></h4>
            <p>{{ n.preview|truncatechars:124|censor}}</p>
            <p style="font-style: italic; font-size: small;">posted by {{ n.author }} on {{ n.time_in }}</p>
        {% endfor %}
    {% else %}    
        <h2> There are no posts.</h2>
    {% endif %}
    <hr class="my-4"/>

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a> 
        {% if page_obj.previous_page_number != 1 %}
            ... 
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number}}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number}}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock %}